/****** GRID ******/
.full-width {
  width: 1400px;
  margin: 0 auto;
}

.half-width {
  width: 700px;
  float: left;
}

.third-width {
  width: 465px;
  float: left;
  background: #1f202b;
  padding-top: 48px;
}

/****** BASE STYLES ******/
body {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  height: 800px;
  background: #1f202b;
}

#portfolio {
  height: 2310px;
}

#about {
  height: 550px;
}

#contact {
  height: 400px;
  background: #1f202b;
}

#header-image {
  background: url('../img/hero-background.png');
  background-repeat: no-repeat;
  height: 725px;
  width: 100%;
}

header,
footer,
section {
  overflow: auto;
}

/******heading styles****/
h1 {
  font-family: 'Source Code Pro', sans-serif;
  color: #ffffff;
  font-size: 72px;
  clear: both;
  padding-left: 100px;
  padding-top: 130px;
}

h1 span {
  color: #fa0075;
}

header h2 {
  font-family: 'Montserrat', sans-serif;
  float: left;
  clear: both;
  font-size: 28px;
  color: #ffffff;
  padding-left: 50px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: lowercase;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 25px;
  padding-left: 35px;
  padding-right: 28px;
  float: right;
  font-family: 'Montserrat', sans-serif;
}

#portfolio h2 {
  text-align: center;
  font-size: 36px;
  color: #fa0075;
  font-family: 'Source Code Pro', sans-serif;
}

#contact h3, p {
  color: #ffffff;
}

#main-heading-nav {
  height: 71px;
}

/******background******/
#portfolio {
  background: #1f202b;
  overflow: auto;
}

/******portfolio*****/
.portfolio-style {
  overflow: auto;
  margin-bottom: 50px;
}

#portfolio p a {
  text-decoration: none;
  color: #fa0075;
}

.left-image-stack {
  float: left;
  display: inline-block;
  width: 40%;
  padding-left: 100px;
  padding-top: 20px;
}

.right-text-stack {
  float: right;
  display: inline-block;
  text-align: center;
  line-height: 28px;
}

.right-image-stack {
  padding-right: 100px;
  padding-top: 20px;
  float: right;
  display: inline-block;
  width: 40%;
}

.left-text-stack {
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 28px;
}

/******about*****/
#about-image {
  background: url('../img/about-me.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 1400px;
  overflow: auto;
}

#about h2 {
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  color: #fa0075;
  font-size: 36px;
}

#about p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #1f202b;
  padding-left: 100px;
  text-align: right;
}

/*****contact*****/
#contact h2 {
  color: #fa0075;
  text-align: center;
  font-family: 'Source Code Pro', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

#contact p, h3 {
  text-align: center;
}

div {
  width: 100%;
}

#contact span {
  display: inline-block;
  width: 32%;
  text-align: center;
  padding-top: 4px;
}

/******footer*****/
footer {
  background: #1f202b;
  text-align: center;
}
